
.head{
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
img{
    width: 100%;
    height: auto;
    margin-top: 5%;
}
.container{
background-color: pink;
}
